div.container{
            display: flex;
            flex-direction: column;
        }
        .navbar{
            display: flex;
            justify-content: space-evenly;
        }
        .navbar::shadow{
            color: black;
            
        }
        .macbook{
            
            background-color: black;
            width: 100%;
            min-height: 380px;
            background-size: cover;
        }
        .pro{
            color: white;
            text-align: center;
            font-weight: 500;
        }
        .MB13{
            text-align: center;
            font-weight: 600;
            font-size: 70px;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 40px;
            padding-bottom: none;
        }
        .super{
            font-size: medium;
            font-family;
            font-size: 30px;
            
        }
        .M2{
            height: 2rem;
            width: 2rem;
            text-align: center;
            
        }
        .ProImg{
            height: 300px;
            width: 600px;
            text-align: center;
            padding-top: 50px;
        }
        .Air{
            background-color: whitesmoke;
        }
        .MBA{
            text-align: center;
            font-weight: 600;
            font-size: 70px;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 40px;
            padding-bottom: none;
        }
        .S7{
            text-align: center;
        }
